
.header{
    padding: 10px;
    text-align: left;
    background: #6a0dad; 
    color: yellow;
    font-size: 15px;
} 

.rectangle {
    height: 600px;
    width: 700px;
    background-color: #d1a1ff; 
    position: absolute;
}

.left{
    left: 40px;
    top: 180px;
}

.right{
    right: 40px;
    top: 180px;
}
